/*All*/
body {
	font-family: Raleway;
}

/*Chat Room Side Bar*/
div p {
	margin-top: 15px;
	padding-top: 5px;
}

div h2 {
	display: inline-block;
	margin: 10px 0 0 0;
	width: 88%;
}
.chat-bar {
	position: fixed;
	background-color: #EDF2F7;
	width: 30%;
	height: 100%;
	/*margin: 50px 0px 0px 10px;*/
	border-right: 5px solid black;
	position: fixed;
}

.chat-bar-header {
	display: flex;
	width: 100%;
	align-items: center;

}

.chat-bar-header, .chat-bar-body {
	padding: 10px;
    height: 75px;
    position: relative;
}

.chat-title {
	padding-top: 15px;
	display: inline-block;
	margin-top: 15px;
}

.modalWindow {
	background-color: #EDF2F7;
}

.modal-header, .modal-body {
	text-align: center;
}

.modal-footer {
	text-align: center;
}

.btn-secondary:hover {
	background-color: lightgray;
}

#btn-new {
	margin: 20px 0px 0px 30px;
	padding: 5px;
	background-color: lightgray;
	border: 1px solid lightgray;
	border-radius: 15px;
	font-weight: bold;
}
/*Message Space*/

.message-bar {
	position: fixed;
	top: 0px;
	left: 300px;
	width: 75%;
	height: 100%;
	background-color: white;
	z-index: 1;
}

.message-bar-header {
	text-align: center;
	margin-top: 10px;
	width: 100%;
}

.message-user {
	float: left;
	margin-left: 4px;
}

.message-time {
	float: right;
	margin-right: 4px;
}

.message-user-time {
	width: 100%;
	display: inline-block;
	margin-top: 0px;
	margin-left: 4px;
	padding-top: 0px;
	background-color: #EDF2F7;
	border-radius: 10px;
}

.message-content {
	margin-top: 0px;
	margin-left: 6px;
	padding-top: 0px;

}

.btn-logout {
	display: inline;
	padding: 6px;
	margin: 0 0 11px 0;
	background-color: lightgray;
	border: 1px solid lightgray;
	border-radius: 10px;
}

/*New message bar*/

.message-bar-new-message {
	display: inline-block;
	position: absolute;
	padding-bottom: 4px;
	bottom: 0;
	margin-left: 4px;
	width: 100%;
}
.user {
	font-weight: bold;
	background-color: #EDF2F7;
	padding: 4px;
	border-radius: 10px;
}

.message-input {
	width: 90%;
	margin-left: 2px;
}

.message-send {
	background-color: lightgray;
	border: 1px solid lightgray;
	font-weight: bold;
	border-radius: 10px;
	margin-left: 2px;
}






