<div class="chat-bar">
	<div class="chat-bar-header">
		<h1 class="chat-title">Bloc Chat</h1>
		<button type="button" id="btn-new" ng-click="home.newRoom()">New Room</button>
	</div>
	<div class="chat-bar-body">
		<h4><strong>Available Chat Rooms</strong></h4>

		<div ng-repeat="room in home.roomList">
			<p ng-click="home.setActiveRoom(room)">{{ room.$value }}</p>
		</div>
	</div>
</div>
<div class="message-bar">
	<div class="message-bar-header">
		<h2>{{ home.activeRoom.$value }}</h2>
	</div>
	<div class="message-bar-body" ng-repeat="message in home.messages">
		<p class="message-user-time"><span class="message-user">{{ message.userName }}</span><span class="message-time">{{ message.sentAt }}</span></p>
		<p class="message-content">{{ message.content }}</p>
	</div>
</div>